<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Book">
  <head>
    <title>RBMA x 15 | For The Record</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Browse through 'For The Record', the new book from Red Bull Music Academy">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="https://plus.google.com/+RBMA/posts"/>
    <link rel="publisher" href="https://plus.google.com/+RBMA"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="For The Record">
    <meta itemprop="description" content="A new book from Red Bull Music Academy featuring personalities like Nile Rodgers, Erykah Badu, DJ Harvey, Lee 'Scratch' Perry and Just Blaze in conversation with each other.">
    <meta itemprop="image" content="images/book/book-slide-1.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rbma">
    <meta name="twitter:title" content="For The Record">
    <meta name="twitter:description" content="A new book from Red Bull Music Academy featuring personalities like Nile Rodgers, Erykah Badu, DJ Harvey, Lee 'Scratch' Perry and Just Blaze in conversation with each other.">
    <meta name="twitter:creator" content="@rbma">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="images/book/book-slide-1.jpg">

    <meta property="fb:admins" content="100006789941377" />
    <meta property="og:title" content="For The Record: A New Book From Red Bull Music Academy"/>
    <meta property="og:url" content="http://www.rbma15.com"/>
    <meta property="og:site_name" content="For The Record: A New Book From Red Bull Music Academy"/>
    <meta property="og:image" content="images/book-spread.png"/>
    <meta property="og:description" content="For The Record features personalities like Nile Rodgers, Erykah Badu, DJ Harvey, Lee ‘Scratch’ Perry and Just Blaze in conversation with their peers." />
    <meta property="og:type" content="website"/>
    <script src="//a.vimeocdn.com/js/froogaloop2.min.js"></script>


    <link type="text/css" rel="stylesheet" href="styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="styles/book/book.css" />


  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery.transit.min.js"></script>
    <script src="/js/book/owl.carousel-ck.js"></script>
    <script src="js/book/nprogress.js"></script>
    <script type="text/javascript" src="/js/book/book.js"></script>
    <script>

        $("#slider-desk").owlCarousel({
            navigation : false,
            slideSpeed : 1000,
            singleItem:true,
            autoPlay: false,
            pagination: true, 
            lazyLoad: true,
            lazyFollow: true,
            lazyEffect: "fade",
            touchDrag: true,
            mouseDrag: true
        });
        </script>
        <script>


        $("#slider-tab").owlCarousel({
            navigation : false,
            slideSpeed : 1000,
            singleItem:true,
            autoPlay: false,
            pagination: true, 
            lazyLoad: true,
            lazyFollow: true,
            lazyEffect: "fade",
            touchDrag: true,
            mouseDrag: true
        });

        </script>


 

    </body>
</html>
