<!DOCTYPE html>
<<<<<<< HEAD
<html>
=======
<html itemscope itemtype="http://schema.org/Movie">
>>>>>>> stage
<!--
|\  ___ \  |\   ___ \ |\  \     |\  \ |\  ___ \  |\  ___ \  |\   ___  \ |\   __  \    
\ \   __/| \ \  \_|\ \\ \  \    \ \  \\ \   __/| \ \   __/| \ \  \\ \  \\ \  \|\  \   
 \ \  \_|/__\ \  \ \\ \\ \  \  __\ \  \\ \  \_|/__\ \  \_|/__\ \  \\ \  \\ \   __  \  
  \ \  \_|\ \\ \  \_\\ \\ \  \|\__\_\  \\ \  \_|\ \\ \  \_|\ \\ \  \\ \  \\ \  \ \  \ 
   \ \_______\\ \_______\\ \____________\\ \_______\\ \_______\\ \__\\ \__\\ \__\ \__\
    \|_______| \|_______| \|____________| \|_______| \|_______| \|__| \|__| \|__|\|__|

  -->
  <head>
 
    <title>What Difference Does It Make? A Film About Making</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-control" content="public">
    <meta name="robots" content="index,follow">



    <meta name="description" content="Counting down to the premiere of Red Bull Music Academy's first feature length film">


      <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="https://plus.google.com/+RBMA/posts"/>
    <link rel="publisher" href="https://plus.google.com/+RBMA"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="What Difference Does It Make? A Film About Making Music">
    <meta itemprop="description" content="Counting down until the world premiere.">
    <meta itemprop="image" content="http://www.rbma15.com/images/key-title.jpg">


      <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rbma">
    <meta name="twitter:title" content="What Difference Does It Make? A Film About Making Music">
    <meta name="twitter:description" content="Counting down until the world premiere.">
    <meta name="twitter:creator" content="@rbma">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.rbma15.com/images/key-title.jpg">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="fb:admins" content="100006789941377" />
<<<<<<< HEAD
    <meta property="og:title" content="What Difference Does It Make? A Film About Making Music"/>
    <meta property="og:url" content="http://rbma15.com"/>
=======
    <meta property="og:title" content="RBMA presents What Difference Does It Make? A Film About Making Music"/>
    <meta property="og:url" content="http://www.rbma15.com"/>
>>>>>>> stage
    <meta property="og:site_name" content="Red Bull Music Academy 15"/>
    <meta property="og:image" content="http://www.rbma15.com/images/key-title.jpg"/>
    <meta property="og:description" content="Counting down to the premiere of Red Bull Music Academy's first feature length film" />
    <meta property="og:type" content="website"/>
    <link rel="shortcut icon" href="public/images/favicon.ico">
    <link rel="shortcut icon" href=".\favicon.ico">
    <link type="text/css" rel="stylesheet" href="styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="styles/home.css" />



 

  </head>

  <body>
  <!-- Start of DoubleClick Floodlight Tag: Please do not remove
  Activity name of this tag: RBMA - Feature Film - Landing Page
  URL of the webpage where the tag is expected to be placed: http://www.rbma15.com
  Creation Date: 01/30/2014 -->

<script type="text/javascript" id="DoubleClickFloodlightTag1575696">
//<![CDATA[
var axel = Math.random() + "";
var a = axel * 10000000000000;
var newIFrame=document.createElement('iframe');
newIFrame.src='http://4310250.fls.doubleclick.net/activityi;src=4310250;type=feature;cat=landing;ord=1;num=' + a + '?';
newIFrame.width="1";
newIFrame.frameBorder="0";
newIFrame.height="1";
newIFrame.style="display:none";
newIFrame.className="flood-light";
var scriptNode=document.getElementById('DoubleClickFloodlightTag1575696');
scriptNode.parentNode.insertBefore(newIFrame,scriptNode);
//]]>
</script>
<noscript>
<iframe src="http://4310250.fls.doubleclick.net/activityi;src=4310250;type=feature;cat=landing;ord=1;num=1?" width="1" height="1" frameBorder="0" class="flood-light"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->


<!-- Include the view file for the current controller/route -->
<%- body %>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="/js/artist-section.js"></script>
<<<<<<< HEAD
=======
    

>>>>>>> stage

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45276832-1', 'rbma15.com');
    ga('send', 'pageview');
    </script>
    <!-- RBMH WRAPPER START -->
<script type="text/javascript">

  var edWrapperNameSpace = {};

  edWrapperNameSpace.aGTM = [
    "GTM-LVJ5",   // hq
    "GTM-7W7M",   // hq
    "GTM-HPZK",   // hq
    "GTM-NTTRSC"  // property
  ];    
  
  var edWrapper = [];

</script>

<script type="text/javascript">

  edWrapperNameSpace.sVers = -1; 
  edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
  edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

  (function (sVarName) {
    window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
    var script = document.createElement('script'); script.type = 'text/javascript'; script.asyn = false; 
    script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
    var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
  })("edWrapper");

</script>
<!-- RBMH WRAPPER END -->

<script type="text/javascript">
    
  edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - www.rbma15.com'} , true ] );

  edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
  edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
  edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );

  edWrapper.push(['submit']);   
  
</script>

    <!-- RBMH WRAPPER START -->
<script type="text/javascript">

  var edWrapperNameSpace = {};

  edWrapperNameSpace.aGTM = [
    "GTM-LVJ5",   // hq
    "GTM-7W7M",   // hq
    "GTM-HPZK",   // hq
    "GTM-NTTRSC"  // property
  ];    
  
  var edWrapper = [];

</script>

<script type="text/javascript">

  edWrapperNameSpace.sVers = -1; 
  edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
  edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

  (function (sVarName) {
    window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
    var script = document.createElement('script'); script.type = 'text/javascript'; script.asyn = false; 
    script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
    var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
  })("edWrapper");

</script>
<!-- RBMH WRAPPER END -->

<script type="text/javascript">
    
  edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - www.rbma15.com'} , true ] );

  edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
  edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
  edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );

  edWrapper.push(['submit']);   
  
</script>



    </body>
</html>
