<!DOCTYPE html>
<html>
  <head>

    <title>RBMA x 15 | Interview: Trevor Jackson x Ata</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-control" content="public">
    <meta name="robots" content="index,follow">
    <meta name="description" content="The London-based DJ and label-owner Trevor Jackson talks with the infamous Frankfurt-based DJ and venue-owner Ata. This conversation is similar to what you will find in Red Bull Music Academy’s new book, For The Record. Composed of 15 conversations between some of the music world’s most compelling personalities, it offers a glimpse into all aspects of the record business.">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="fb:admins" content="100006789941377" />
    <meta property="og:title" content="Trevor Jackson x Ata Interview"/>
    <meta property="og:url" content="http://rbma15.com/trevor-jackson-ata-interview"/>
    <meta property="og:site_name" content="Red Bull Music Academy | 15 Year Anniversary Film and Book"/>
    <meta property="og:image" content="http://rbma15.com/what-difference-trailer-wrapper.jpg"/>
    <meta property="og:description" content="Red Bull Music Academy has put together myriad projects to mark its 15th anniversary, chief among them a film and a book. Take a peek at them both here." />
    <meta property="og:type" content="website"/>

    <link type="text/css" rel="stylesheet" href="styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="styles/trevor.css" />

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery.transit.min.js"></script>
    <script src="/js/trevor/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/trevor/trevor.js"></script>

 

    </body>
</html>
