<!DOCTYPE html>
<html>
  <head>

    <title>RBMA15 User</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noarchive">
    

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->
    <link type="text/css" rel="stylesheet" href="/styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/styles/user.css" />


  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery.mousewheel.js"></script>
    <script src="/js/jquery.transit.min.js"></script>
    <script src="/js/ckeditor.js"></script>
    <script type="text/javascript" src="/js/artist/artist.js"></script>
  <script type="text/javascript">

          // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
                CKEDITOR.replace( 'editor1', {
                  forcePasteAsPlainText : true,
                  enterMode : CKEDITOR.ENTER_BR
               
                } );

</script>

    </body>
</html>
