<form action="/user/create" method="POST" class="form-signin" id="sign-up-form">
	<h2 class="form-signin-heading">Add new user</h2>

	<div class="control-group">
		<input type="text" class="form-control" placeholder="Name" name="name">
	</div>

	<div class="control-group">
		<input type="text" class="form-control" placeholder = "Email Address" name="email">
	</div>


	<div class="control-group">
		<input type="password" class="form-control" placeholder="Password" id="password" name="password">
	</div>


	<div class="control-group">
		<input type="password" class="form-control" placeholder="Password confirmation" name="confirmation">
	</div>



	<br />

	<input type="submit" class="create-button" value="Create Account"/>

	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>