<link type="text/css" rel="stylesheet" href="styles/home.css" />
<div id="wrapper">
            <div id="nav-burger">
                <a href="#" class="addNav"><img class="white" src="images/up_button_w.png" /></a>
                <a href="#" class="addNav"><img class="black" src="images/up_button_b.png" /></a>
            </div>
            <nav>
                <div class="nav-top-left">
                    <li><a class="scroll filmlink" href="#">The Film</a></li>
                </div>
                <div class="nav-top-center">
                    <li><a class="scroll booklink" href="#">The Book</a></li>
                </div>
            </nav>
            <div id="nav-bottom">
                <div class="nav-left">
                    <li><a class="scroll aboutlink" href="#">About</a></li>
                </div>
                <div class="logo">
                    <a class="titlelink" href="http://www.redbullmusicacademy.com" target="blank">
                        .COM
                    </a>
                </div>
            </div>
            <div id="title">
                <div id="title-text">
                    <img src="images/rbma-logo.png"/>
                    <h2>Red Bull Music Academy</h2>
                    <h1>15 year</h1>
                    <h1>anniversary</h1>
                    <h2>film and book</h2>
                </div>
            </div>
            <div id="pointer">
                    <a href="#"><img class="pointer" src="images/pointer.png"/></a>
                </div>

            <div class="spin">
            </div>
            
            <div id="film">
                <span id="filmlink"></span>
                
                <div class="text">
                    <h1>What difference does it make?</h1>
                    <h2>a film about making music</h2>
                    <img src="images/play_w.png" id="play-button" />
                    <h3>watch it now</h3>
                </div>

                <div class="film-wrap" id="loop">
                    
                    <video id="video" class="film-wrap" autoplay muted loop>
                        <source src="images/Dance2.mp4" type="video/mp4">
                        <source src="images/Dance2.webmhd.webm" type="video/webm">
                            <p>Your browser doesn't support HTML5 video.</p>
                    </video>
                
                </div>
                <div class="film-wrap" id="embed">
                    
                    <iframe frameborder="0" scrolling="no" seamless="seamless" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" id="rbmaplayer" width="640" height="360" src="http://www.youtube.com/embed/uVzx_p_DrL8?enablejsapi=1&amp;origin=*&amp;autoplay=0&amp;playsinline=1&amp;loop=1&amp;hd=1&amp;controls=0&amp;showinfo=1&amp;modestbranding=0&amp;iv_load_policy=3&amp;rel=0"></iframe>
                </div>
                <div class="film-info">
                    <div class="info-left">
                        <h2>Download</h2>
                    </div>
                    <div class="info-right">
                        <h2>Featured Artists</h2>
                    </div>
                </div>
            </div>

            <div id="book">
                <span id="booklink"></span>
                <div class="text">
                    <h1>for the record</h1>
                    <h2>conversations with people who have shaped the way 
                    we listen to music<br /><br /></h2>
                </div>
                <div class="book-wrapper">
                    <a href="/book"><img id="leftbook" class="leftbook" src="images/book-spread.png" /></a>
                    <a href="/book"><img id="rightbook" class="rightbook" src="images/fortherecord_cover.png" /></a>
                    <a href="/book"><img id="backbook" class="backbook" src="images/fortherecord_page2.png" /></a>
                </div>
                <div class="foot">
                
                    <h2 class="view-more"><a href="/book">View More</a></h2>
                </div>
            </div>


            <div id="about">
                <span id="aboutlink"></span>
                <div class="text">
                    <h1>About</h1>
                    <p><a href="http://www.redbullmusicacademy.com" target="blank">Red Bull Music Academy</a> has put together myriad projects to mark its 15th anniversary, chief among them a film and a book.
                    <br /><br />

                    <em>What Difference Does It Make? A Film About Making Music</em> explores the challenges that a life in music can bring. Shot at the 2013 Red Bull Music Academy in New York by award-winning director <a href="http://www.ralfschmerberg.de/home" target="blank">Ralf Schmerberg</a>, and produced by his Berlin based artist collective <a href="http://mindpirates.org/verein/" target="blank">Mindpirates</a>, <em>What Difference Does It Make? A Film About Making Music</em> delves deeply into the many challenges, stages of development and triumphs that musicians experience. Featuring the likes of Brian Eno, Giorgio Moroder, Nile Rodgers, Richie Hawtin and James Murphy, it seeks to go beyond just music, and ask questions about life itself.
                    <br /><br />

                    The book, <em>For The Record</em>, pairs up artists like Nile Rodgers, Erykah Badu and Lee ‘Scratch’ Perry for 15 wide-ranging and expansive conversations that touch on an array of topics – live performance, instruments/interfaces, conceptualism and drumming among them. In addition to the conversations, top music journalists – including Philip Sherburne, Joe Muggs, Jeff ‘Chairman’ Mao and Sheryl Garratt – contribute essays about each of the personalities included. Together with stunning visual design by Chris Rehberger’s <a href="http://www.doublestandards.net/website/index.php" target="blank">Double Standards agency</a>, the results make for one of the most insightful publications on the current state of music and the music industry.
                    <br /><br />
                    <em><strong>What Difference Does It Make?</strong></em> will be released February 18
                    <br/><br/>
                    <em><strong>For The Record</strong></em> is currently <a href="http://shop.gestalten.com/rbma.html" target="blank">available through Gestalten</a>
                </p>
                <div class="logo">
                    <a href="http://www.redbullmusicacademy.com" target="blank"><img class="bottom-logo-black" src="images/rbma-logo-black.png" /></a>
                        <a href="http://www.redbullmusicacademy.com" target="blank">
                    <img class="bottom-logo-white" src="images/rbma-logo.png" /></a>
                </div>
                <div class="social">
                    <!--TWITTER-->
                    <a href="http://twitter.com/home?status=What Difference Does It Make? A feature-length film about making music. Drops Feb 18th. Watch the trailer http://rbma15.com" target="blank"><img class="social-black" src="images/twitter.png"></a>
                    <a href="http://twitter.com/home?status=What Difference Does It Make? A feature-length film about making music. Drops Feb 18th. Watch the trailer http://rbma15.com" target="blank"><img class="social-white" src="images/twitter-w.png"></a>

                    <!--FACEBOOK-->
                    <a href="#"><img class="social-black fb-button" src="images/facebook.png"></a>
                    <a href="#"><img class="social-white fb-button" src="images/facebook-w.png"></a>
                    <iframe class="fb-like" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frbma15.com&amp;width=200px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>

                    <!--GOOGLE-->
                    <a href="https://plus.google.com/share?url=http://rbma15.com/" target="blank"><img class="social-black" src="images/google.png" ></a>
                    <a href="https://plus.google.com/share?url=http://rbma15.com/" target="blank"><img class="social-white" src="images/google-w.png"></a>

                </div>
                <div class="buy">
                    <a href="http://shop.gestalten.com/rbma.html"><img src="images/small-book.png" /></a>
                    <p><strong><a href="http://shop.gestalten.com/rbma.html">Purchase via Gestalten</a></strong></p>
                </div>
                </div>
            </div>
        </div>
        
