<link type="text/css" rel="stylesheet" href="styles/home.css" />

<div id="wrapper">
    <div id="exit" class="exit hidden"></div>

    
    <!-- NAV ICON -->
    <div id="nav-burger">
        <a href="#" class="addNav"><img class="white" src="images/up.gif" /></a>
    </div>

    <div id="nav-down">
        <a href="#" class="addNav"><img class="white" src="images/down.gif" /></a>
    </div>
    
    <!-- NAV -->
    <nav>
        <div class="nav-top-left">
            <li><a class="scroll filmlink" href="#">The Film</a></li>
        </div>
        <div class="nav-top-center">
            <li><a class="scroll booklink" href="#">The Book</a></li>
        </div>

    </nav>


    <!-- NAV BOTTOM -->
    <div id="nav-bottom">
        <div class="nav-left">
            <li><a class="scroll aboutlink" href="#">About</a></li>
        </div>
        <div class="logo">
            <a class="titlelink" href="http://www.redbullmusicacademy.com" target="blank">.COM</a>
        </div>
    </div>

    <!-- HERO BACKGROUND PICTURE -->
    <div id="title">
        <img src="images/text.svg">
    </div>

    <div id="pointer">
        <!-- CHANGE TO PNG FOR STATIC -->
        <a href="#"><img class="pointer" src="images/pointer.png"/></a>
        <!-- <a href="#"><img class="pointer" src="images/pointer.gif"/></a> -->
    </div>

    <!-- FILM SECTION -->
    <div id="film">
        <span id="filmlink"></span>
        <div class="text">
            <img src="images/play_w.png" id="play-button" />
            <h1>WATCH THE TRAILER</h1>
            
            
        </div>

        <div class="film-wrap" id="loop">
            <video id="video" class="film-wrap" autoplay muted loop>
                <source src="images/Dance2.mp4" type="video/mp4">
                <source src="images/Dance2.webmhd.webm" type="video/webm">
                <p>Your browser doesn't support HTML5 video.</p>
            </video>
        </div>

        <div class="film-wrap" id="embed">
            <iframe frameborder="0" scrolling="no" seamless="seamless" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" id="rbmaplayer" width="640" height="360" src="http://www.youtube.com/embed/uVzx_p_DrL8?enablejsapi=1&amp;origin=*&amp;autoplay=0&amp;playsinline=1&amp;loop=1&amp;hd=1&amp;controls=0&amp;showinfo=1&amp;modestbranding=0&amp;iv_load_policy=3&amp;rel=0"></iframe>
        </div>
    </div> <!-- END FILM -->


    <!-- OFF SCREEN BOOK IFRAME -->
    <div id="bookframe">
        <iframe src="/book" width="100%" height="100%" border="0"></iframe>
    </div>



    <div id="info">
        <div class="info-top">
            <span id="infolink"></span>
                <h3><a href="#" class="citylink">World premiere</a></h3>
                <h2><a href="#" class="citylink date">February 17 2014</a></h2>
            <div class="city-box">
                <span class="cities">
                    <li>athens</li>
                    <li>atlanta</li>
                    <li>austin</li> 
                    <li>barcelona</li> 
                    <li>belfast</li> 
                    <li>berlin</li> 
                    <li>bogota</li>
                    <li>bratislava</li>
                    <li>brno</li>
                    <li>brussels</li> 
                    <li>buenos&nbsp;aires</li> 
                    <li>cape&nbsp;town</li> 
                    <li>chapel&nbsp;hill</li> 
                    <li>chicago</li> 
                    <li>dallas</li>
                    <li>detroit</li> 
                    <li>dublin</li> 
                    <li>glasgow</li> 
                    <li>houston</li> 
                    <li>istanbul</li> 
                    <li>johannesburg</li> 
                    <li>kosice</li> 
                    <li>lausanne</li> 
                    <li>lisbon</li>
                    <li>ljubljana</li> 
                    <li>los&nbsp;angeles</li> 
                    <li>madrid</li> 
                    <li>manama</li> 
                    <li>melbourne</li> 
                    <li>mexico&nbsp;city</li> 
                    <li>miami</li> 
                    <li>montreal</li> 
                    <li>moscow</li>
                    <li>mumbai</li> 
                    <li>nashville</li> 
                    <li>new&nbsp;orleans</li> 
                    <li>new&nbsp;york</li> 
                    <li>oslo</li> 
                    <li>paris</li> 
                    <li>prague</li> 
                    <li>rio&nbsp;de&nbsp;jaineiro</li> 
                    <li>rome</li> 
                    <li>saint&nbsp;petersburg</li> 
                    <li>san&nbsp;francisco</li> 
                    <li>santiago&nbsp;de&nbsp;chile</li> 
                    <li>são&nbsp;paulo</li> 
                    <li>sarajevo</li> 
                    <li>seoul</li> 
                    <li>sydney</li>
                    <li>taipei</li> 
                    <li>tampa</li> 
                    <li>tbilisi</li>
                    <li>tokyo</li> 
                    <li>toronto</li>
                    <li>vancouver</li> 
                    <li>victoria</li> 
                    <li>vienna</li> 
                    <li>zagreb</li> 
                    <li>zurich</li>
                </span>
            </div>
            <div class="digital-section">
                <h3><a href="#" class="digitallink digital-release">Digital release</a></h3>
                <h2><a href="#" class="digitallink date">February 18 2014</a></h2>
                <div class="digital-box">
                    <span class="digital">Stay tuned. Right here.</span>
                </div>
            </div>

            <!-- <hr /> -->

            <!-- LINK TO ARIST PAGE -->
            <a class="artist-bank" href="/artist">
                <div class="artist-section">
                    <h2 class="featured-artists">Featured artists</h2>
                    <h2><span id="cycle" class="cycle"></span></h2>
                </div>
            </a>
            <span id="aboutlink"></span>

            <!-- <hr /> --><!-- LINE BREAK -->

           <!--  ABOUT TEXT -->

            <div class="about-section">
                <h1>About</h1>
                    <p><a href="http://www.redbullmusicacademy.com" target="blank">Red Bull Music Academy</a> has put together myriad projects to mark its 15th anniversary, chief among them a film and a book.
                    <br /><br />

                    <em>What Difference Does It Make? A Film About Making Music</em> explores the challenges that a life in music can bring. Shot at the 2013 Red Bull Music Academy in New York by award-winning director <a href="http://www.ralfschmerberg.de/home" target="blank">Ralf Schmerberg</a>, and produced by his Berlin based artist collective <a href="http://mindpirates.org/verein/" target="blank">Mindpirates</a>, <em>What Difference Does It Make? A Film About Making Music</em> delves deeply into the many challenges, stages of development and triumphs that musicians experience. Featuring the likes of Brian Eno, Giorgio Moroder, Nile Rodgers, Richie Hawtin and James Murphy, it seeks to go beyond just music, and ask questions about life itself.
                    <br /><br />

                    The book, <em>For The Record</em>, pairs up artists like Nile Rodgers, Erykah Badu and Lee ‘Scratch’ Perry for 15 wide-ranging and expansive conversations that touch on an array of topics – live performance, instruments/interfaces, conceptualism and drumming among them. In addition to the conversations, top music journalists – including Philip Sherburne, Joe Muggs, Jeff ‘Chairman’ Mao and Sheryl Garratt – contribute essays about each of the personalities included. Together with stunning visual design by Chris Rehberger’s <a href="http://www.doublestandards.net/website/index.php" target="blank">Double Standards agency</a>, the results make for one of the most insightful publications on the current state of music and the music industry.
                    <br /><br />

                    <em><strong>What Difference Does It Make?</strong></em> will premiere around the globe on February 17, with a digital release on February 18
                    <br/><br/>

                    <em><strong>For The Record</strong></em> is currently <a href="http://shop.gestalten.com/rbma.html" target="blank">available through Gestalten</a>
                </p>
            </div> <!-- END ABOUT MAIN TEXT -->
            
            <!-- BOTTOM LOGO -->
            <div class="logo">
                <a href="http://www.redbullmusicacademy.com" target="blank">
                <img class="bottom-logo-white" src="images/rbma-logo.png" /></a>
            </div>


            <!-- SOCIAL -->
            <div class="social">
                <!--TWITTER-->
                <a href="http://twitter.com/home?status=What Difference Does It Make? A feature-length film about making music. Drops Feb 18th. Watch the trailer http://rbma15.com" target="blank"><img class="social-white" src="images/twitter-w.png"></a>

                <!--FACEBOOK-->
                <a href="#"><img class="social-white fb-button" src="images/facebook-w.png"></a>
                <iframe class="fb-like" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frbma15.com&amp;width=200px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>

                <!--GOOGLE-->
                <a href="https://plus.google.com/share?url=http://rbma15.com/" target="blank"><img class="social-white" src="images/google-w.png"></a>
            </div><!-- END SOCIAL -->



        </div> <!-- END INFO TOP -->
    </div> <!-- END INFO ID -->
</div> <!-- END WRAPPER -->

        
