/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: 'Clan';
  src: url("../font/ClanPro-NarrUltra.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Clan';
  src: url("../font/ClanPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clan';
  src: url("../font/ClanPro-News.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rail';
  src: url("../font/NewRailAlphabet-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rail';
  src: url("../font/NewRailAlphabet-White.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

html,
button,
input,
select,
textarea {
  color: #222;
  background-color: black;
}

html, html a {
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-size: 1em;
  line-height: 1.4;
  cursor: url(../img/cursor.png) 8 8;
  background-color: black;
}

h1, h2 {
  font-family: 'Clan';
  font-weight: 800;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 10px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  outline: none;
}

@-moz-keyframes shake {
  0% {
    margin-top: -5%;
  }

  100% {
    margin-top: 5%;
  }
}

@-webkit-keyframes "shake" {
  0% {
    margin-top: -5%;
  }

  100% {
    margin-top: 5%;
  }
}

@-o-keyframes shake {
  0% {
    margin-top: -5%;
  }

  100% {
    margin-top: 5%;
  }
}

@keyframes shake {
  0% {
    margin-top: -5%;
  }

  100% {
    margin-top: 5%;
  }
}

.exit {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3em;
  padding-right: 10px;
  padding-left: 10px;
  background-color: black;
  color: white;
  border: 2px solid black;
  z-index: 9999999999;
}
.exit:hover {
  background-color: white;
  color: black;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-family: 'Rail', helvetica, sans-serif;
}

#wrapper {
  position: absolute;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}

#wrapper > * {
  -webkit-transform: translateZ(0px);
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a:hover {
  color: gray;
}

#nav-burger {
  position: fixed;
  left: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  z-index: 999;
  opacity: 1;
  display: none;
}
#nav-burger img {
  max-width: 100%;
}
#nav-burger img:hover {
  opacity: 0.6;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  z-index: 99;
  background-color: transparent;
  opacity: 1;
  font-family: 'Clan', helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  color: red;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  letter-spacing: 3px;
}
nav .nav-top-left {
  width: 33.3333%;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
}
nav .nav-top-left li {
  float: left;
  font-family: 'Clan', helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 15px;
  list-style-type: none;
}
nav .nav-top-left li a.scroll {
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
nav .nav-top-left li a.scroll:hover {
  color: gray;
}
nav .nav-top-center {
  width: 33.3333%;
  height: 43px;
  position: absolute;
  right: 0;
  text-align: center;
  padding-top: 15px;
  overflow-y: hidden;
}
nav .nav-top-center li {
  list-style-type: none;
  float: right;
  padding-right: 40px;
}
nav .nav-top-center li a.scroll {
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
nav .nav-top-center li a.scroll:hover {
  color: gray;
}

#nav-bottom {
  position: fixed;
  height: 58px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
  font-family: 'Clan', helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  z-index: 9;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  letter-spacing: 3px;
}
#nav-bottom .nav-left {
  width: 50%;
  height: 58px;
}
#nav-bottom .nav-left li {
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#nav-bottom .nav-left li a.scroll {
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#nav-bottom .nav-left li a.scroll:hover {
  color: gray;
}
#nav-bottom .logo {
  max-width: 40%;
  position: absolute;
  right: 40px;
  bottom: 15px;
  float: right;
  color: white;
}
#nav-bottom .logo a {
  float: right;
  color: white;
}
#nav-bottom .logo a:hover {
  color: gray;
}
#nav-bottom .logo a img {
  width: 30%;
  float: right;
}
#nav-bottom .logo a img.white {
  display: none;
}
#nav-bottom .logo a img.red {
  display: block;
}

#bookframe {
  position: fixed;
  background-color: white;
  left: 100%;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#bookframe:hover {
  left: 89%;
}
#bookframe iframe {
  border: none;
  margin: 0;
}

#title {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black !important;
  background-size: 100% !important;
  background-size: bottom center;
  min-width: 100%;
  background: url(../../images/title-image.jpg) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: white;
}
#title img {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
#title #title-text {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
}
#title #title-text img {
  width: 15%;
  height: auto;
}
#title #title-text h2 {
  text-transform: uppercase;
  font-size: 2.7em;
  letter-spacing: 0;
  line-height: 0;
  padding: 0 10px 0 10px;
  font-weight: 800;
  vertical-align: bottom;
}
#title #title-text h1 {
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: -1px;
  line-height: 0.2;
}

#pointer {
  width: 10%;
  height: 5%;
  position: absolute;
  bottom: 80px;
  left: 45%;
  right: 45%;
  z-index: 999;
  text-align: center;
}
#pointer img {
  width: 50%;
  -webkit-animation: "shake" 0.5s ease 0 infinite alternate;
  -moz-animation: "shake" 0.5s ease 0 infinite alternate;
  -o-animation: shake 0.5s ease 0 infinite alternate;
  animation: shake 0.5s ease 0 infinite alternate;
  animation-delay: 0s;
}

#film {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
#film video {
  max-width: 100%;
  opacity: 1;
}
#film .text {
  margin-top: 5%;
  text-align: center;
  width: 80%;
  left: 10%;
  right: 10%;
  position: absolute;
  z-index: 9;
}
#film .text h1 {
  text-transform: none;
  font-size: 4em;
  line-height: 1;
  width: 80%;
  text-align: center;
  margin: 10px 10% 0 10%;
  font-weight: 100;
}
#film .text h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  width: 60%;
  margin: 10% 20% 0 20%;
  line-height: 1;
}
#film .text h3 {
  margin-top: 2.5%;
  text-transform: uppercase;
}
#film .text img {
  max-width: 15%;
  margin-top: 15%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#film .text img:hover {
  opacity: 0.5;
}
#film .film-wrap {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  z-index: 0;
  position: absolute;
}
#film .film-wrap iframe {
  opacity: 1;
  width: 100%;
  display: none;
}
#film .film-wrap video {
  display: block;
  max-width: 200%;
  width: 200%;
  left: -50%;
}

#info {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin: 0 0 0 0;
  padding-top: 5%;
  position: absolute;
  top: 200%;
  background-color: black;
}
#info .info-top {
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  z-index: 9999;
  background-color: black;
  border: 1px solid transparent;
}
#info .info-top h3 {
  color: white;
  font-family: 'Rail', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.9em;
}
#info .info-top h3 a {
  color: white;
  font-weight: lighter;
}
#info .info-top h2 {
  font-family: 'Rail';
  font-size: 4em;
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  line-height: 0.6;
}
#info .info-top h2.featured-artists {
  line-height: 1;
  padding: 5px;
}
#info .info-top h2 a {
  color: white;
}
#info .info-top h2 a:hover {
  background-color: white;
  color: black;
}
#info .info-top .city-box {
  width: 80%;
  margin: 0 10% 60px 10%;
}
#info .info-top .cities {
  display: none;
  text-transform: uppercase;
  font-size: 1.25em;
  padding-left: 5%;
  padding-right: 5%;
  word-spacing: 10px;
  color: white;
  font-family: 'Rail', helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}
#info .info-top .cities li {
  list-style-type: none;
  display: inline;
  border: 1px solid transparent;
}
#info .info-top .cities li:hover {
  border: 1px solid white;
}
#info .info-top .digital-section {
  margin-top: 10%;
}
#info .info-top .digital-section .digital-box {
  margin: 0 auto 60px auto;
}
#info .info-top .digital-section .digital-box .digital {
  display: none;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: 'Rail', helvetica, sans-serif;
}
#info .info-top .artist-bank div {
  background-color: black;
  margin-top: 20%;
  margin-bottom: 20%;
}
#info .info-top .artist-bank div .featured-artists {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
  background-color: white;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid white;
}
#info .info-top .artist-bank div .featured-artists:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}
#info .info-top .artist-bank div span {
  font-size: 1.6em;
  line-height: 0.7;
}
#info .about-section {
  margin-top: 5%;
  color: white;
}
#info .about-section h1 {
  font-size: 4em;
  font-family: 'Rail', 'Clan', helvetica, sans-serif;
  border: 2px solid white;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
#info .about-section p {
  font-family: helvetica, sans-serif;
  line-height: 2;
  padding-right: 10%;
  font-size: 1.25em;
  padding-left: 10%;
}
#info .about-section p a {
  color: white;
  text-decoration: underline;
}
#info .about-section p a:hover {
  color: #ccc;
}
#info .logo {
  width: 80%;
  margin: 5% 10% auto 10%;
  text-align: center;
}
#info .logo img {
  max-width: 80%;
  width: 12%;
  margin-left: 44%;
  margin-right: 44%;
}
#info .logo img:hover {
  opacity: 0.7;
}
#info .social {
  margin-top: 2.5%;
  width: 100%;
  height: 58px;
  text-align: center;
}
#info .social img {
  display: inline;
  width: 30px;
  height: auto;
}
#info .social img.social-white {
  display: inline-block;
}
#info .social iframe {
  display: none;
  width: 100px !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
