/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: 'Clan';
  src: url("../font/ClanPro-NarrUltra.otf") format("opentype");
  font-weight: 800;
  font-style: normal; 
}

@font-face{
  font-family: 'Clan';
  src: url("../font/ClanPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Clan';
  src: url("../font/ClanPro-News.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face{
    font-family: 'Rail';
    src: url("../font/NewRailAlphabet-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Rail';
    src: url("../font/NewRailAlphabet-Light.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}


html,
button,
input,
select,
textarea {
    color: #222;
    background-color: black;
}

html, html a{
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-size: 1em;
    line-height: 1.4;
    cursor: url(../img/cursor.png) 8 8;
    background-color: black;
}

h1, h2{
    font-family: 'Clan';
    font-weight: 800;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

   //Removes border from image links on firefox
   a{
    outline: none;
   }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   //MAKE SURE DOUBLECLICK DOESN'T SCREW WITH ARTIST INFO
   .flood-light{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
   }



   //ANIMATIONS
   @-moz-keyframes shake{
    0% {margin-top: -5%;}
    100% {margin-top: 5%;}
}

   @-webkit-keyframes "shake"{
    0%{margin-top: -5%;}
    100%{margin-top: 5%;}
}


   @-o-keyframes shake{
    0%{margin-top: -5%;}
    100%{margin-top: 5%;}
}

@keyframes shake{
    0%{margin-top: -5%;}
    100%{margin-top: 5%;}
}

@-webkit-keyframes fade{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}

@-moz-keyframes fade{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}

@-o-keyframes fade{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}

@-ms-keyframes fade{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}

@keyframes fade{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}






h1, h2{
    text-transform: uppercase;
}

h2{
    font-weight: bold;
}

h1, h2, h3, h4{
    font-family: 'Rail', helvetica, sans-serif;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: black;
  z-index: 99999999999999999999;
  text-align: center;
}

#loading-image {
  margin-top: 25%;
  width: 30px;
  height: 30px;
}

.exit{
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: url(../../images/close.gif) no-repeat center center;
    background-size: 100%;
    z-index: 9999;
    &:hover{
        background: url(../../images/close-black.gif) no-repeat center center;
        background-size: 100%;
    }
}


#wrapper{
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#wrapper > *{
    -webkit-transform: translateZ(0px);
}

a{
    text-decoration: none;
    color: black;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover{
        color: gray;
    }
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 99;
    background-color: transparent;
    opacity: 1;
    font-family: 'Clan', helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    .nav-top-left{
        width: 33.3333%;
        height: 58px;
        position: absolute;
        left: 0;
        top: 0;
        li{
            float: left;
            font-family: 'Clan', helvetica, sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            padding-left: 20px;
            padding-top: 15px;
            list-style-type: none;
            a.scroll{
                text-decoration: none;
                color: white;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                &:hover{
                    color: gray;
                }
            }
        }
    }
    .nav-top-center{
            width: 33.3333%;
            height: 43px;
            position: absolute;
            right: 0;
            text-align: center;
            padding-top: 15px;
            overflow-y: hidden;
            li{
                list-style-type: none;
                float: right;
                padding-right: 40px;
                a.scroll{
                text-decoration: none;
                color: white;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                &:hover{
                    color: gray;
                }
            }
        }
    }
}

#nav-bottom{
    position: fixed;
    height: 58px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: transparent;
    font-family: 'Clan', helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
    z-index: 99;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    .nav-left{
        width: 50%;
        height: 58px;
        li{
            text-decoration: none;
            list-style-type: none;
            position: absolute;
            bottom: 20px;
            left: 20px;
            a.scroll{
                text-decoration: none;
                color: white;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                &:hover{
                    color: gray;
                }
            }
        }
    }
    .logo{
        max-width: 40%;
        position: absolute;
        right: 40px;
        bottom: 15px;
        float: right;
        color: white;
        a{
            float: right;
            color: white;
            &:hover{
                    color: gray;
                }
            img{
                width: 30%;
                float: right;
                
                &.white{
                    display: none;
                }
                &.red{
                    display: block;
                }
            }
        }
    }
}

#bookframe{
    position: fixed;
    background-color: white;
    left: 100%;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 9998;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover{
        left: 89%;
    }
    iframe{
        border: none;
        margin: 0;
    }
}


#title{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    background-size: 100% !important;
    background-size: bottom center;
    min-width: 100%;
    min-height: 100%;
    background: url(../../images/title-image.jpg) no-repeat center center;
    background-size: 120%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    color: white;
    img{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #title-text{
        margin-top: 10%;
        margin-bottom: 5%;
        width: 100%;
        text-align: center;
        img{
            width: 15%;
            height: auto;
        }
        h2{
            text-transform: uppercase;
            font-size: 2.7em;
            letter-spacing: 0;
            line-height: 0;
            padding: 0 10px 0 10px;
            font-weight: 800;
            vertical-align: bottom;

        }
        h1{
            text-transform: uppercase;
            font-size: 6em;
            letter-spacing: -1px;
            line-height: 0.2;
        }
    }
}

#pointer{
    width: 20%;
    height: 5%;
    position: absolute;
    bottom: 50px;
    left: 40%;
    right: 40%;
    z-index: 999;
    text-align: center;
    p{
        color: white;
        font-family: 'Rail', helvetica, sans-serif;
        text-transform: uppercase;
        margin: 0;
        font-weight: bold;
    }
    img{
        width: 60px;
        height: auto;
        margin: 0;
        max-width: 100%;
        -webkit-animation: "fade" 0.7s ease 0s infinite alternate;
        -moz-animation: "fade" 0.7s ease 0s infinite alternate;
        -o-animation: fade 0.7s ease 0s infinite alternate;
        animation: fade 0.7s ease 0s infinite alternate;
        animation-delay: 0s;
    }
}

#countdown-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: black;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    h1{
        margin-top: 10%;
    }
    #countdown{
        width: 80%;
        margin: 5% 10% 10% 10%;
        font-size: 6em;
        font-weight: bold;
    }
}

#film{
    position: absolute;
    top: 200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    video{
        max-width: 100%;
        opacity: 1;
    }
    .text{
        margin-top: 5%;
        text-align: center;
        width: 80%;
        left: 10%;
        right: 10%;
        position: absolute;
        z-index: 2;
        h1{
            text-transform: none;
            font-size: 4em;
            line-height: 1;
            width: 80%;
            text-align: center;
            margin: 10px 10% 0 10%;
            font-weight: 100;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 2.5em;
            width: 60%;
            margin: 10% 20% 0 20%;
            line-height: 1;
            
        }
        h3{
            margin-top: 2.5%;
            text-transform: uppercase;
        }
        img{
            max-width: 15%;
            margin-top: 15%;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            &:hover{
                opacity: 0.5;
            }
        }
    } 
    .film-wrap{
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        margin: 0 0 0 0;
        position: absolute;
        iframe{
            opacity: 1;
            width: 100%;
            display: none;
            
        }
        video{
            display: block;
            max-width: 200%;
            width: 200%;
            left: -50%;
            //z-index: 9;
        }
    }
} 


#artist{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Rail', helvetica, sans-serif;
    margin: 0;

    h1, h2, h3, h4, a{
        color: white;
    }
    .artist-list{
        width: 100%;
        max-width: 100%;
        margin: 0;
        left: 0;
        text-align: center;
        position: absolute;
        top: 0;
        z-index: 9;
        h1{
            text-align: center;
            font-size: 4em;
            width: 30%;
            text-transform: none;
            margin-left: 35%;
            margin-right: 35%;
            border: 2px solid white;
        }
        ul{
            max-width: 100%;
            width: 90%;
            list-style-type: none;
            color: white;
            padding-left: 0;
            text-align: center;
            li{
                display: inline-block;
                line-height: 1.6;
                font-size: 1.3em;
                margin: 0;
                padding-left: 9px;
                padding-right: 9px;
                text-transform: uppercase;
                border: 2px solid transparent;
                &:hover{
                    border: 2px solid white;
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .artist-images{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 0;
        img{
            width: 100%;
        }
    }
}

#go-home{
        position: fixed;
        display: none;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        opacity: 1;
        background: url(../../images/close.gif) no-repeat center center;
        background-size: 100%;
        z-index: 99999999999999999999999999;
        &:hover{
            -webkit-filter: invert(100%);
            -moz-filter: invert(100%);
            filter: invert(100%);
            background-size: 100%;
        }
    }

#artist-info{
    position: fixed;
    left: 100%;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 99999;
    h1{
        position: relative;
        top: 0;
        padding-bottom: 0;
        color: black;
        width: 100%;
        font-size: 4em;
        z-index: 4;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
    }
    p{
        width: 60%;
        margin-top: 0;
        margin-left: 20%;
        margin-bottom: 75px;
        line-height: 1.75;
        z-index: 3;
        font-family: 'Rail', helvetica, sans-serif;
        font-weight: 100;
    }
    .next-artist{
        position: absolute;
        top: 30%;
        right: 90px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover{
                right: 85px;
            }
        img{
            max-width: 100%;
            width: 50px;
        }
    }

    .prev-artist{
        position: absolute;
        top: 30%;
        left: 90px;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        &:hover{
                left: 85px;
            }
        img{
            max-width: 100%;
            width: 50px;
        }
    }
    .assets{
        width: 60%;
        max-height: 60%;
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        margin-left: 20%;
        text-align: center;
        background-color: black;
        background: url(../../images/loader.gif) no-repeat center center;
        background-size: 10%;
        img{
            margin: 0;
            width: 100%;
            height: auto;
        }
    }
    .links{
        position: relative;
        width: 100%;
        right: 0;
        bottom: 5%;
        ul{
            list-style-type: none;
            text-align: center;
            padding-top: 50px;
            li{
                font-size: 1em;
                margin: 40px;
                font-weight: bold;
                display: inline;
                a{
                    color: black;
                    &:hover{
                        opacity: 0.6;
                    }
                    img{
                        width: 25px;
                        height: auto;
                    }
                }
            }
        }
    }
}

#about{
    position: absolute;
    border-top: 1px solid white;
    top: 400%;
    //height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Rail', helvetica, sans-serif;
    margin: 0;
    h1{
        text-transform: none;
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
        border: 2px solid white;
        font-size: 4em;
        text-align: center;
        }
    p{
        font-family: 'Rail', helvetica, sans-serif;
        line-height: 1.7;
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        font-size: 1.3em;
        text-align: left;
        font-weight: 100;
        a{
            text-decoration: underline;
            color: white;
        }
    }
    .logo{
        width: 80%;
        margin: 0 10% auto 10%;
        text-align: center;
        img{
            max-width: 80%;
            width: 20%;
            margin: 10% 40% 5% 40%;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .social{
        margin-top: 2.5%;
        margin-bottom: 10%;
        width: 100%;
        height: 58px;
        text-align: center;
        img{
            display: inline;
            width: 30px;
            height: auto;
            &.social-white{
                display: inline-block;
            }
        }
        iframe{
            display: none;
            width: 100px !important;
        }
    }
}





/************************ WIDESCREEN ******************************/

@media only screen and (min-width: 1800px){
    #artist{
        position: absolute;
        top: 300%;
        height: 100%;
        width: 100%;
        background-color: black;
        color: white;
        font-family: 'Rail', helvetica, sans-serif;
        margin: 0;

        h1, h2, h3, h4, a{
            color: white;
        }
        .artist-list{
            width: 100%;
            margin: 0;
            left: 0;
            text-align: center;
            position: absolute;
            top: 0;
            z-index: 9;
            h1{
                text-align: center;
                font-size: 6em;
                width: 30%;
                margin-left: 35%;
                margin-right: 35%;
                border: 2px solid white;
            }
            ul{
                margin: 0;
                max-width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                list-style-type: none;
                color: white;
                padding: 0; 
                text-align: center;
                li{
                    display: inline-block;
                    line-height: 1.7;
                    font-size: 1.7em;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin: 0;
                    padding: 4px;
                    text-transform: uppercase;
                    border: 2px solid transparent;
                    &:hover{
                        border: 2px solid white;
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
        .artist-images{
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            z-index: 0;
            img{
                width: 100%;
            }
        }
    }
}






/************************ SEMI-WIDESCREEN ******************************/

@media only screen and (min-width: 1500px){
    #artist{
    position: absolute;

    .artist-list{
        width: 100%;
        ul{
            text-align: center;
            li{
                font-size: 1.6em;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}


#about{
    position: absolute;
    border-top: 1px solid white;
    top: 400%;
    //height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Rail', helvetica, sans-serif;
    margin: 0;
    h1{
        text-transform: none;
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
        border: 2px solid white;
        font-size: 6em;
        text-align: center;
        }
    p{
        font-family: 'Rail', helvetica, sans-serif;
        line-height: 1.7;
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        font-size: 1.5em;
        text-align: left;
        font-weight: 100;
        a{
            text-decoration: underline;
            color: white;
        }
    }
    .logo{
        width: 80%;
        margin: 0 10% auto 10%;
        text-align: center;
        img{
            max-width: 80%;
            width: 20%;
            margin: 10% 40% 5% 40%;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .social{
        margin-top: 2.5%;
        margin-bottom: 10%;
        width: 100%;
        height: 58px;
        text-align: center;
        img{
            display: inline;
            width: 30px;
            height: auto;
            &.social-white{
                display: inline-block;
            }
        }
        iframe{
            display: none;
            width: 100px !important;
        }
    }
}
   

}






/************************ LAPTOP ex MACBOOK 13" ******************************/

@media only screen and (max-width: 1280px), screen and (max-device-width: 1280px){



#artist{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: hidden;

    .artist-list{
        width: 100%;
        h1{
            text-align: center;
            font-size: 4em;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            max-width: 100%;
            width: 80%;
            margin-left: 10%;
            padding-left: 0;
            text-align: center;
            li{
                padding: 5px;
                line-height: 1.3;
                font-size: 1.2em;
                
            }
        }
    }
}

}



/************************ MEDIUM LAPTOP VIEWPORT ******************************/
@media only screen and (max-width: 1100px){
#artist{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: hidden;

    .artist-list{
        width: 100%;
        h1{
            text-align: center;
            font-size: 4em;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            max-width: 100%;
            width: 80%;
            margin-left: 10%;
            padding-left: 0;
            text-align: center;
            li{
                padding: 5px;
                line-height: 1.25;
                font-size: 1.05em;
                
            }
        }
    }
}

}



/************************ MEDIUM (AGAIN) LAPTOP VIEWPORT ******************************/

@media only screen and (max-width: 1000px){
#artist{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: hidden;

    .artist-list{
        width: 100%;
        h1{
            text-align: center;
            font-size: 4em;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            max-width: 100%;
            width: 80%;
            margin-left: 10%;
            padding-left: 0;
            text-align: center;
            li{
                padding: 5px;
                line-height: 1.2;
                font-size: 1em;
                
            }
        }
    }
}

#artist-info{
   .next-artist{
        top: 25%;
        right: 90px;
        &:hover{
                right: 85px;
            }
        img{
            max-width: 100%;
            width: 50px;
        }
    }

    .prev-artist{
        top: 25%;
        left: 90px;
        &:hover{
                left: 85px;
            }
        img{
            max-width: 100%;
            width: 50px;
        }
    }
}

}



/************************ SMALL LAPTOP VIEWPORT ******************************/

@media only screen and (max-width: 800px){


   nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 99;
    font-size: 1.5em;
    .nav-top-left{
        width: 33.3333%;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        li{
            float: left;
            font-weight: 800;
            text-transform: uppercase;
            padding-left: 20px;
            padding-top: 15px;
            list-style-type: none;

        }
    }
    .nav-top-center{
            width: 33.3333%;
            height: 100px;
            position: absolute;
            right: 0;
            text-align: right;
            padding-top: 15px;
            overflow-y: hidden;
            li{
                list-style-type: none;
                float: right;
                padding-right: 20px;
            }
        }
    }

#nav-bottom{
    display: none;
}


   #title{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    background-size: 100% !important;
    min-width: 100%;
    background: url(../../images/title-image.jpg) no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    img{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 25%;
    }
}

   #pointer{
        width: 10%;
        position: absolute;
        bottom: 80px;
        left: 45%;
        right: 45%;
            
   }


   #film{
    position: absolute;
    top: 200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background: url(../../images/artist/eno.jpg) no-repeat top center;
    background-size: 200%;
    video{
            display: none;

    }
    .text{
        margin-top: 30%;
        width: 80%;
        left: 10%;
        right: 10%;

        h1{
            font-size: 2em;
            line-height: 1;
            width: 80%;
            text-align: center;
            margin: 30px 10% 0 10%;
        }
        img{
            max-width: 15%;
            margin-top: 25%;
        }
    } 


    .film-wrap{
        iframe{
            opacity: 1;
            width: 100%;
            display: none;  
        }
        video{
            display: none;
        }
    }

}

#go-home{
        display: none;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        opacity: 1;
    }

#artist{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    margin: 0;
    .artist-list{
        width: 100%;
        margin: 0;
        text-align: center;
        z-index: 2;
        h1{
            font-size: 3em;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            li{
                display: inline;
                padding: 5px;
                line-height: 1.7;
                font-size: 1.1em;   
            }
        }
    }
    .artist-images{
        display: none !important;
    }
}

#artist-info{

    h1{
        width: 100%;
        font-size: 3em;
    }
    p{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 75px;
        line-height: 1.75;
        font-size: 1em;
    }
    .next-artist{
        position: absolute;
        top: 25%;
        right: 50px;
        &:hover{
                right: 45px;
            }
        img{
            max-width: 100%;
            width: 30px;
        }
    }

    .prev-artist{
        position: absolute;
        top: 25%;
        left: 50px;
        &:hover{
                left: 45px;
            }
        img{
            max-width: 100%;
            width: 30px;
        }
    }
    //IMAGE
    .assets{
        width: 70%;
        max-height: 60%;
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        margin-left: 15%;
    }
    //CHANGE FROM INLINE TO BLOCK
    .links{
        position: relative;
        width: 100%;
        right: 0;
        ul{
            list-style-type: none;
            text-align: left;
            padding-top: 0;
            margin-left: 7.5%;

            li{
                font-size: 1em;
                font-weight: bold;
                display: block;
                a{
                    color: black;
                    &:hover{
                        opacity: 0.6;
                    }
                    img{
                        width: 25px;
                        height: auto;
                    }
                }
            }
        }
    }
}



#about{
    position: absolute;
    border-top: 1px solid white;
    top: 400%;
    width: 100%;
    margin: 0;
    h1{
        max-width: 40%;
        margin: 5% 30% auto 30%;
        font-size: 3em;
        }
    p{
        line-height: 1.7;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 1.2em;
        text-align: left;
    }
}

}



/************************ TINY LAPTOP VIEWPORT ******************************/
@media only screen and (max-width: 700px){


    #artist{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    margin: 0;
    .artist-list{
        width: 100%;
        margin: 0;
        text-align: center;
        z-index: 2;
        h1{
            font-size: 3em;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            li{
                display: inline;
                padding: 5px;
                line-height: 2;
                font-size: 0.9em;   
            }
        }
    }
    .artist-images{
        display: none !important;
    }
}
}







/************************ TABLET ******************************/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 


   nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    .nav-top-left{
        height: 100px;
    }
    .nav-top-center{
        height: 100px;
    }
}

#nav-bottom{
    display: none;
}

#bookframe{
    background-color: white;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}


   #title{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/title-image.jpg) no-repeat bottom center;
    img{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 25%;
    }
}

    #pointer{
        width: 10%;
        bottom: 80px;
        left: 45%;
        right: 45%;
        img{
            width: 50%;
        }
    }

    #countdown-container{
        display: none !important;
    }

    #film{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../images/artist/eno.jpg) no-repeat top center;
        background-size: 200%;
        video{
            display: none;
        }
        .text{
            margin-top: 30%;
            width: 80%;
            left: 10%;
            right: 10%;

        h1{
            font-size: 2em;
            width: 80%;
            margin: 30px 10% 0 10%;
        }
        img{
            max-width: 15%;
            margin-top: 25%;
        }
    } 


    .film-wrap{
        margin: 0 0 0 0;
        z-index: 0;
        video{
            display: none;
        }
    }
}

    #artist{
        position: absolute;
        top: 200%;
        height: 125%;
        width: 100%;
        .artist-list{
            h1{
                font-size: 3em;
                width: 30%;
                margin-left: 35%;
                margin-right: 35%;
            }
            ul{
                width: 90%;
                margin-left: 5%;
                li{
                    padding: 5px;
                    line-height: 1.8;
                    font-size: 1.5em;
                }
            }
        }
        .artist-images{
            display: none !important;
        }
    }

    #artist-info{
        h1{
            font-size: 3em;
        }
        p{
            width: 70%;
            margin-left: 15%;
            line-height: 1.75;
            font-size: 1.1em;
        }

        .next-artist{
        position: absolute;
        top: 20%;
        right: 50px;
        &:hover{
                right: 45px;
            }
        img{
            max-width: 100%;
            width: 30px;
        }
    }

    .prev-artist{
        position: absolute;
        top: 20%;
        left: 50px;
        &:hover{
                left: 45px;
            }
        img{
            max-width: 100%;
            width: 30px;
        }
    }


        .assets{
            width: 70%;
            max-height: 60%;
            margin-top: 20px;
            margin-left: 15%;
        }
        .links{
            width: 70%;
            max-width: 100%;
            margin-left: 15%;
            left: 0;
            right: auto;
            ul{
                text-align: left;
                padding-top: 0;
                padding-left: 0;
                margin-left: 0;

                li{
                    font-size: 1em;
                    display: block;
                    margin-left: 0;
                    padding-left: 0;
                    a{
                        img{
                            width: 25px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    #about{
        top: 325%;
        width: 100%;
        h1{
            font-size: 3em;
        }
        p{
            line-height: 1.7;
            width: 80%;
            margin-right: 10%;
            margin-left: 10%;
            font-size: 1.2em;
        }
        .logo{
            img{
                max-width: 80%;
                width: 20%;
                margin: 10% 40% 5% 40%;
            }
        }
    }
}




/************************ TABLET LANDSCAPE ******************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    #wrapper{
        width: 100% !important;
        overflow-x: hidden !important;
    }



   nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    .nav-top-left{
        width: 33.3333%;
        height: 100px;
    }
    .nav-top-center{
            height: 100px;
            text-align: right;
            li{
                padding-right: 20px;
            }
        }
    }

#nav-bottom{
    display: none;
}

#bookframe{
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}


   #title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/title-image.jpg) no-repeat bottom center;
    img{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10%;
    }
}

    #pointer{
        width: 10%;
        position: absolute;
        bottom: 80px;
        left: 45%;
        right: 45%;
        img{
            width: 50%;
        }
    }

    #countdown-container{
        display: none;
    }

   #film{
    position: absolute;
    top: 100%;
    left: 0;
    background: url(../../images/artist/eno.jpg) no-repeat top center;
    background-size: 200%;
    video{
        display: none;
    }
    .text{
        margin-top: 10%;
        width: 80%;
        left: 10%;
        right: 10%;
        h1{
            font-size: 2em;
            width: 80%;
            margin: 30px 10% 0 10%;
        }
        img{
            max-width: 15%;
            margin-top: 25%;
        }
    }
}

#artist{
    top: 200%;
    height: 125%;
    margin: 0;
    .artist-list{
        width: 100%;
        max-width: 100%;
        z-index: 2;
        h1{
            font-size: 3em;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            max-width: 100%;
            width: 80%;
            padding-left: 0;
            margin-left: 10%;
            li{
                display: inline;
                line-height: 1.7;
                font-size: 1.5em;
                text-transform: uppercase;
            }
        }
    }
    .artist-images{
        display: none !important;
    }
}

#artist-info{
    h1{
        font-size: 3em;
    }
    p{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 75px;
        line-height: 1.75;
        font-size: 1em;
    }
    .assets{
        width: 70%;
        margin-top: 20px;
        margin-left: 15%;
    }

    .links{
            width: 70%;
            max-width: 100%;
            margin-left: 15%;
            left: 0;
            right: auto;
            ul{
                text-align: left;
                padding-top: 0;
                padding-left: 0;
                margin-left: 0;

                li{
                    font-size: 1em;
                    display: block;
                    margin-left: 0;
                    padding-left: 0;
                    a{
                        img{
                            width: 25px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

#about{
    top: 325%;
    width: 100%;
    h1{
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
        font-size: 3em;
        }
    p{
        line-height: 1.7;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 1.2em;
    }
}



}





@media only screen and (max-width: 641px), screen and (max-device-width: 641px), screen and (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-min-device-pixel-ratio: 2){
  #title{
        position: absolute;
        top: 0;
        left: 0;
        background-size: 200% !important;
        background-size: bottom center;
        background: url(../../images/title-image.jpg) no-repeat bottom center;
        img{
            width: 100%;
            margin: 25% 0 auto 0;
        }
    }

    #artist{
        top: 200%;
        height: 300%;
        width: 100%;
        .artist-list{
            max-width: 100%;
            overflow-y: hidden;
            ul{
                max-width: 100%;
                width: 80%;
                margin-left: 10%;
                padding-left: 0;
                li{
                    display: block;
                    font-size: 1em;
                    text-transform: uppercase;
                }
            }
        }
    }

    #artist-info{
        .next-artist{
        position: absolute;
        top: 20%;
        right: 20px;
        &:hover{
                right: 15px;
            }
        img{
            max-width: 100%;
            width: 20px;
        }
    }

    .prev-artist{
        position: absolute;
        top: 20%;
        left: 20px;
        &:hover{
                left: 15px;
            }
        img{
            max-width: 100%;
            width: 20px;
        }
    }
    }

    #about{
        top: 500%;
    }
}

/************************ PHONE ******************************/
@media only screen and (max-width: 568px), screen and (max-device-width: 568px), screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2){

.exit{
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(../../images/close.gif) no-repeat center center;
    background-size: 100%;
    z-index: 9999999999;
}


   nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    font-size: 1em;
    .nav-top-left{
        height: 100px;
    }
    .nav-top-center{
            height: 100px;
            text-align: right;
            li{
                padding-right: 20px;
            }
        }
    }

    #nav-bottom{
        display: none
    }

    #bookframe{
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #countdown-container{
        display: none !important;
    }


   #title{
        position: absolute;
        top: 0;
        left: 0;
        background-size: 200% !important;
        background-size: bottom center;
        background: url(../../images/title-image.jpg) no-repeat bottom center;
        img{
            width: 100%;
            margin: 20% 0 auto 0;
        }
    }

   #pointer{
        display: none !important;
    }         

    #film{
        top: 100%;
        background: url(../../images/artist/eno.jpg) no-repeat top center;
        background-size: 200%;
        video{
            display: none;
        }
    .text{
        margin-top: 30%;
        z-index: 9;

        h1{
            font-size: 2em;
        }
        img{
            max-width: 15%;
            margin-top: 25%;
        }
    } 

    .film-wrap{
        iframe{
            opacity: 1;
            width: 100%;
            display: none;
            
        }
        video{
            display: none;
        }
    }

}

    #artist{
        top: 200%;
        height: 385%;
        width: 100%;
        margin: 0;
        .artist-list{
            width: 100%;
            max-width: 100%;
            overflow-y: hidden;
            h1{
                font-size:1.5em;
                width: 30%;
                margin-left: 35%;
                margin-right: 35%;
            }
            ul{
                max-width: 100%;
                width: 80%;
                margin-left: 10%;
                padding-left: 0;
                li{
                    text-align: center;
                    display: block;
                    padding: 2px;
                    line-height: 1;
                    font-size: 0.72em;
                }
            }
        }
        .artist-images{
            display: none !important;
        }
    }

    #artist-info{
        h1{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            font-size: 2em;
        }
        p{
            width: 90%;
            margin-left: 5%;
            line-height: 1.75;
            font-size: 0.8em;
        }
        .assets{
            width: 70%;
            max-height: 60%;
            overflow: hidden;
            margin-top: 10px;
            margin-left: 15%;
        }
        .links{
            width: 90%;
            max-width: 100%;
            margin-left: 5%;
            left: 0;
            right: auto;
            ul{
                text-align: left;
                padding-top: 0;
                padding-left: 0;
                margin-left: 0;

                li{
                    font-size: 1em;
                    display: block;
                    margin-left: 0;
                    padding-left: 0;
                    a{
                        img{
                            width: 25px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    #about{
        top: 585%;
        width: 100%;
        h1{
            font-size: 1.5em;
        }
        p{
            line-height: 1.7;
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
            font-size: 0.8em;
        }
    }
}



/************************ IPHONE 5 ******************************/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{


    #title{
        position: absolute;
        top: 0;
        left: 0;
        background-size: 200% !important;
        background-size: bottom center;
        background: url(../../images/title-image.jpg) no-repeat bottom center;
        img{
            width: 100%;
            margin: 25% 0 auto 0;
        }
    }

    #artist{
        top: 200%;
        height: 385%;
        width: 100%;
        .artist-list{
            max-width: 100%;
            overflow-y: hidden;
            ul{
                max-width: 100%;
                width: 80%;
                margin-left: 10%;
                padding-left: 0;
                li{
                    display: block;
                    font-size: 1em;
                    text-transform: uppercase;
                }
            }
        }
    }

        #artist-info{
        .next-artist{
        position: absolute;
        top: 17.5%;
        right: 17px;
        &:hover{
                right: 17px;
            }
        img{
            max-width: 100%;
            width: 20px;
        }
    }

    .prev-artist{
        position: absolute;
        top: 17.5%;
        left: 17px;
        &:hover{
                left: 17px;
            }
        img{
            max-width: 100%;
            width: 20px;
        }
    }
    }


}





/************************ PHONE LANDSCAPE ******************************/

@media only screen and (max-device-width: 568px) and (orientation: landscape){





   #title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    background-size: 100% !important;
    background-size: bottom center;
    min-width: 100%;
    background: url(../../images/title-image.jpg) no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    img{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
    }
}



   #pointer{
        display: none !important;
    }         

   #film{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/artist/eno.jpg) no-repeat top center;
    background-size: 200%;
    video{
            display: none;

    }
    .text{
        margin-top: 5%;

        h1{
            font-size: 2em;
            line-height: 1;
            width: 80%;
            margin: 10px 10% 0 10%;
        }
        img{
            max-width: 15%;
            margin-top: 25%;
        }
    } 


    .film-wrap{
        iframe{
            opacity: 1;
            width: 100%;
            display: none;
            
        }
        video{
            display: none;
        }
    }

}

#artist{
    top: 200%;
    height: 150%;
    width: 100%;

    .artist-list{
        h1{
            font-size:1.5em;
            margin-top: 5%;
            width: 30%;
            margin-left: 35%;
            margin-right: 35%;
        }
        ul{
            margin-top: 5%;
            li{
                display: inline;
                line-height: 0.8;
                font-size: 0.9em;
            }
        }
    }
}

#artist-info{
    h1{
        width: 100%;
        font-size: 2em;
    }
    p{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 75px;
        line-height: 1.75;
        font-size: 0.8em;
    }
    .assets{
        width: 70%;
        max-height: 60%;
        overflow: hidden;
        margin-top: 10px;
        margin-left: 15%;
    }
    .links{
        position: relative;
        width: 70%;
        margin-left: 15%;
        right: 0;
        ul{
            text-align: left;
            padding-top: 0;
            li{
                font-size: 1em;
                display: block;
            }
        }
    }
}

#about{
    top: 350%;
    h1{
        font-size: 1.5em;
        }
    p{
        line-height: 1.7;
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        font-size: 0.8em;
    }
    .logo{
        width: 80%;
        margin: 0 10% auto 10%;
        text-align: center;
        img{
            max-width: 80%;
            width: 20%;
            margin: 10% 40% 5% 40%;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

} 





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
