
<nav class="user-nav">
 	<ul>
 		<% if (session.authenticated) { %>
 		<li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a></li>
 		<li class="artist-list"><a href="/artist/list">Return To Artist Index</a></li>
 		<li class="logout"><a href="/session/destroy">Log Out</a></li>
 		<% } else { %>
 		<li class="inactive"><a href="/session/new">Log In</a></li>
 		<% } %>
 </nav>


<div class="new-artist-container">
<form action="/artist/create" method="POST" class="form-signin" id="sign-up-form">
	<h2 class="form-signin-heading">Add New Artist</h2>

	<div class="control-group">
		<input type="text" class="form-control" placeholder="Name" name="name">
	</div>

	<div class="control-group">
		<input type="text" class="form-control" placeholder="Title" name="title">
	</div>

	<div class="control-group">
		<input type="text" class="form-control" placeholder="Pic Id / Nickname to be used for photo" name="nickname">
	</div>

	<div class="control-group">
		<textarea rows="10" wrap="physical" name="bio" placeholder="Bio"></textarea>
	</div>

	<div class="control-group">
		<input name="lecture" type="url" placeholder="Lecture URL" class="form-control" />
	</div>

	<div class="control-group">
		<input name="radio" type="url" placeholder="Radio Show URL" class="form-control" />
	</div>

	<div class="control-group">
		<input name="magazine" type="url" placeholder="RBMA Feature URL" class="form-control" />
	</div>

	<div class="control-group">
		<input name="website" type="url" placeholder="Website" class="form-control" />
	</div>


	<br />

	<input type="submit" class="blue" value="Add Artist"/>

	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

</div>
